html,
body,
h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

body {
  background: #233142;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1;
  overflow: hidden;
}

.customScroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.customScroll::-webkit-scrollbar-thumb {
  background-color: #2bc42080;
  border-radius: 6px;
}
.customScroll {
  scrollbar-width: auto;
  scrollbar-color: #2bc42080 transparent;
}
